gradio==4.2.0
matplotlib==3.8.1
numpy==1.26.2
pillow==10.1.0
scikit-image==0.22.0
diffusers==0.24.0
transformers==4.35.2
omegaconf==2.3.0
torch==2.2.0+cu118
google-cloud-storage==2.13.0
--find-links https://download.pytorch.org/whl/torch_stable.html
